<li>
  <span class="content"><%= achivment.content %></span><br/>
  <span class="content"><%= achivment.achive_type %></span><br/>
  <span class="timestamp">
    <strong>Написано:</strong> <%= time_ago_in_words(achivment.created_at) %> ago.
  </span>
  <hr/>
</li>