<li>
  <span class="content"><%= micropost.content %></span><br/>
  <% if micropost.microphoto.url(:medium)=="/images/medium/missing.png"%>

      <% else %>
      <div class="user_avatar" style="background-image: url('<%= micropost.microphoto.url(:medium)%>')"></div>
      <% end %>
  <span class="timestamp">
    <strong>Написано:</strong> <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <hr/>
</li>