<% if @feed_items.any? or @achive_feed_items.any?%>
    <div class="row">
      <section>
        <h1 class="small-text-center">Лента новостей</h1>
        <hr/>
      </section>
      <div class="large-6 columns">
        <h2 class="small-text-center"> Записи </h2>
        <%= render partial: 'layouts/feed_item', collection: @feed_items %>
      </div>
      <div class="large-6 columns">
        <h2 class="small-text-center"> Достижения </h2>
        <%= render partial: 'layouts/achive_feed_item', collection: @achive_feed_items %>
        </div>
        </div>
<% else %>
    <div class="row">
      <section>
        <h2 style="text-align: center">Ваша лента новостей пуста.</h2>
      </section>
    </div>
<% end %>